@import './index.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: var(--bg-color);
    font-family: var(--font-txt);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
}

.nome {
    font-size: 1.5rem;
    color: var(--font-color);
    font-weight: bold;
}

.nome_link {
    text-decoration: none;
    color: var(--font-color);
}

.funcao {
    font-size: 1rem;
    color: var(--font-color-default);
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
}

.link {
    text-decoration: none;
    color: var(--font-color-default);
}

.container-contato {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15rem 0 0 8rem;
}


.subtitulo-contato {
    font-size: 2rem;
    color: var(--font-color);
}

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    margin: 0 15rem;
}

.form-ident {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.msg-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: center;
}

.label-form {
    font-size: 1.5rem;
    color: var(--font-color);
}

.input-form {
    height: 2.5rem;
    border: 1px solid;
    border-radius: 1rem;
    border-color: var(--font-color-default);
    font-size: 1.5rem;
    color: var(--font-color);
    padding-left: 1rem;
}

.area-form {
    height: 7rem;
    border: 1px solid;
    border-radius: 1rem;
    border-color: var(--font-color-default);
    font-size: 1.5rem;
    color: var(--font-color);
    padding-left: 1rem;
    resize: none;
}

.botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.botao {
    width: 8rem;
    color: var(--white);
    background-color: var(--font-color);
    border-radius: 4rem;
    border: 1px solid;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem .5rem;
}

.botao:hover {
    color: var(--font-color);
    background-color: var(--bg-color-hover);
    font-weight: bold;
    transition: 0.5s;
}

.link:hover {
    color: var(--font-color);
    font-weight: bold;
    transition: 0.5s;
}

@media (max-width: 1200px) {
    .nav {
        margin: 2rem 2rem;
    }

    .formulario {
        margin: 0 10rem;
    }
}

@media (max-width: 992px) {
    .nav {
        flex-direction: column;
        margin: 1rem 1rem;
    }

    .container-contato {
        flex-direction: column;
        margin: 10rem 0 0 4rem;
    }

    .formulario {
        margin: 0 5rem;
    }

    .links {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 768px) {
    .nav {
        margin: 1rem;
    }

    .container-contato {
        margin: 5rem 0 0 2rem;
    }

    .formulario {
        margin: 0 2rem;
    }

    .form-ident, .msg-btn {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 576px) {
    .nome {
        font-size: 1.2rem;
    }

    .funcao, .links, .link {
        font-size: 0.8rem;
    }

    .container-contato {
        margin: 5rem 0 0 1rem;
    }

    .subtitulo-contato {
        font-size: 1.5rem;
    }

    .formulario {
        margin: 0 1rem;
    }

    .label-form, .input-form, .area-form {
        font-size: 1.2rem;
    }

    .botao {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .container-contato {
        margin: 5rem 0 0 0.5rem;
    }

    .subtitulo-contato {
        font-size: 1.2rem;
    }

    .formulario {
        margin: 0 0.5rem;
    }

    .label-form, .input-form, .area-form {
        font-size: 1rem;
    }

    .links {
        align-items: flex-start;
    }

    .botao {
        width: 100%;
    }
}